.brn-tile-project-state{
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto auto auto;
  gap: .375rem;
  min-width: 24rem;
}
.brn-tile-project-state p,
.brn-tile-project-state h5 {
  margin-bottom: 0;
}
.brn-tile-project-state .brn-tag,
.brn-tile-project-state .tile-infos,
.brn-tile-project-state .fa-solid {
  align-self: center;
}
.brn-tile-project-state .fa-solid {
  justify-self: end;
}
.brn-tag, .tile-infos{
  white-space: nowrap;
  align-self: center;
  font-size: .8rem;
  color: var(--brn-text-fadded);
}
.tile-infos{
  grid-row-start: 1;
  grid-column-start: 1;
}
.brn-tag{
  grid-row-start: 1;
  grid-column-start: 2;
}
.context-actions i{
  grid-row-start: 1;
  grid-column-start: 3;
}
.tile-title{
  grid-row-start: 2;
  grid-column-end: span 3;
}
.tile-desc{
  grid-row-start: 3;
  grid-column-end: span 3;
}

