.brn-tile-environ {
  font-size: .75rem;
  background: #fff;
  max-width: 19rem;
  border-radius: 1rem;
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
  flex-direction: column;
  gap:.25rem;
  border-top-width: .2rem;
  border-top-style: solid;
}
.brn-tile-environ h1,p,b{
  margin:0;
}
.brn-tile-environ p{
  color: #888888;
}

.brn-tile-environ.brn-danger {
  border-top-color: var(--brn-danger);
}
.brn-tile-environ.brn-primary {
  border-top-color: var(--brn-primary);
}
.brn-tile-environ.brn-info {
  border-top-color: var(--brn-info);
}
.brn-tile-environ.brn-link {
  border-top-color: var(--brn-link);
}
.brn-tile-environ.brn-success {
  border-top-color: var(--brn-success);
}
.brn-tile-environ.brn-warning {
  border-top-color: var(--brn-warning);
}