.tile-environ {
  font-size: .75rem;
  background: #fff;
  max-width: 19rem;
  padding: 1rem 1.25rem;
  border-radius: 1rem;
  border-top: .2rem solid #EA0707;
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
  flex-direction: column;
  box-shadow: 0px 0.5rem 1rem rgba(134, 141, 164, 0.21);
  gap:.25rem;
}
.simple-kpi h1,p,b{
  margin:0;
}
.simple-kpi p{
  color: #888888;
}