.brn-glass-hero {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  border-radius: 2rem;
  margin: 1rem;
  padding: 1rem;
  gap: 1rem;
}

.brn-glass-hero h3{
  grid-row-start: 1;
  grid-column-start: 1;
  place-self: end start;
}
.brn-glass-hero p{
  grid-row-start: 2;
  grid-column-start: 1;
  place-self: start start;
}
.brn-glass-hero img{
  margin: 1rem 4rem;
  height: 12rem;
  max-width: 12rem;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: span 2;
}
