.brn-tag{
    margin: 0.25rem;
    padding: 0.25rem 0.75rem;
    height: 2rem;
    display: flex;
    border-radius: 1rem;
    align-items: center;
}
.brn-tag.brn-danger{
    color: var(--brn-danger);
    background-color: var(--brn-danger-fadded);
}
.brn-tag.brn-primary{
    color: var(--brn-primary);
    background-color: var(--brn-primary-fadded);
}
.brn-tag.brn-secondary{
    color: var(--brn-secondary);
    background-color: var(--brn-secondary-fadded);
}
.brn-tag.brn-link{
    color: var(--brn-link);
    background-color: var(--brn-link-fadded);
}
.brn-tag.brn-success{
    color: var(--brn-success);
    background-color: var(--brn-success-fadded);
}
.brn-tag.brn-warning{
    color: var(--brn-warning);
    background-color: var(--brn-warning-fadded);
}